.card-page {
  .card-wrapper {
    padding: 8rem 0 7rem;
  }

  .card-header {
    h1{
      font-size: 96px;

      padding-top: 1.5rem;
    }
  }

  .card-fill {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    padding-top: 6rem;
  }

  .card-choose-block {
    flex: 1;
  }

  .card-price-block {
    padding: 35px 50px;

    border: $grey 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h5 {
      font-size: 20px;
      font-weight: 700;

      line-height: 100%;
    }

    .card-sum {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      span:last-child {
        justify-self: end;

        font-weight: 700;
      }
      span {
        font-size: 19px;

        line-height: 100%;
      }
    }

    .checkout-button {
      border-radius: 0;

      padding: 19px 32px;

      font-style: italic;
      font-weight: 900;
      font-family: Uni Sans-Trial, sans-serif;
      text-transform: uppercase;
      font-size: 15px;

      color: white;
      background-color: $blue;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }

  .card-choose-block {
    .position-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 12px 20px;

      height: 42px;

      background-color: #EBEBEB;
    }

    .position-item {
      display: flex;
      align-items: center;
      gap: 28px;

      border-bottom: 1px solid $grey;

      padding: 8px 20px;

      .description {
        font-weight: 400;
        font-size: 12px;

        color: $dark-grey;
      }

      .choose-txt {
        font-weight: 600;
        font-size: 12px;

        color: #2b2b2a;
      }

      .title-item {
        font-weight: 600;
        font-size: 16px;
      }

      .item-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 28px
      }

      .item-img img{
        width: 68px;
        height: 68px;
        object-fit: contain;
      }

      .item-price {
        font-weight: 600;
        font-size: 19px;
      }
    }

    .form-check-input {
      border-radius: 0;

      cursor: pointer;

      &:checked {
        background-color: $blue;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .remove-item {
      display: flex;
      align-items: center;
      gap: 10px;

      padding-top: 1rem;

      button {
        font-size: 12px;
        font-family: Montserrat, sans-serif;
        font-weight: 400;

        color: #2b2b2a;

        padding-left: 0;

        text-decoration: none;
      }

      svg {
        color: $dark-grey;
      }
    }

    .input-group-with-buttons {
      .quantity-field,
      .button-minus,
      .button-plus {
        height: 42px;
      }
    }
  }

  .card-faq {
    display: none;
  }

  @media screen and (min-width: 1400px) and (max-width: 1829px) {
    .card-wrapper {
      padding-left: var(--bs-gutter-x, 1.5rem);
      padding-right: var(--bs-gutter-x, 1.5rem);
      padding-top: 4rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header {
      nav.navbar {
        padding-left: 0;
      }
    }

    .card-wrapper {
      padding-left: var(--bs-gutter-x, 1.5rem);
      padding-right: var(--bs-gutter-x, 1.5rem);

      padding-bottom: 2rem;
    }

    .item-info {
      gap: 24px !important;
    }

    .card-price-block {
      padding: 25px 30px;
      gap: 25px;
    }
  }

  @media only screen and (max-width: 767px) {
    .header {
      nav.navbar {
        padding-left: 0;
      }
    }

    .card-wrapper {
      padding-left: var(--bs-gutter-x, 1.5rem);
      padding-right: var(--bs-gutter-x, 1.5rem);

      padding-bottom: 2rem;
    }

    .card-header {
      h1 {
        font-size: 42px;
      }
    }

    .card-fill {
      padding-top: 2rem;
    }

    .card-price-block {
      gap: 25px;

      padding: 25px 30px;

      width: 100%;
    }

    .item-price {
      order: 0;
    }

    .item-info {
      gap: 12px !important;
    }

    .input-group-with-buttons {
      order: 1;
    }
  }
}
