footer {
  height: 114px;

  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  line-height: 100%;

  .container,
  .row {
    height: inherit;
  }

  .row {
    align-items: center;
  }

  .footer-content {
    padding-left: 0;
    padding-right: 0;

    height: 56.38px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .label-info {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .footer-logo {
    cursor: pointer;
  }

  .contact-info {
    display: flex;
    gap: 20px;
    align-items: center;

    .mail {
      display: flex;
      gap: 12px;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }
  }

  .footer-text {
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1400px) and (max-width: 1829px) {
  .footer-content {
    padding-left: var(--bs-gutter-x, 1.5rem) !important;
    padding-right: var(--bs-gutter-x, 1.5rem) !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    .footer-content {
      flex-direction: column;
      justify-content: space-between;

      margin-bottom: 0;

      height: auto;
    }

    .label-info {
      width: 100%;

      justify-content: space-between;
    }

    .footer-logo {
      top: 1rem;
    }

    .contact-info {
      justify-content: flex-end;

      width: 100%;
      padding-right: 6.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  footer {
    height: initial;

    .container {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .footer-content {
      padding-left: var(--bs-gutter-x, 1.5rem);
      padding-right: var(--bs-gutter-x, 1.5rem);

      margin-bottom: 0;

      height: auto;

      flex-wrap: wrap;
      justify-content: center;
    }

    .footer-logo {
      margin-right: auto;
      margin-left: auto;
    }

    .label-info {
      flex-wrap: wrap;

      gap: 1rem;

      margin-bottom: 1rem;
    }

    .footer-text {
      text-align: center;
    }

    .contact-info {
      width: 100%;

      justify-content: space-between;
    }
  }
}
